@model IEnumerable<ClienteTiendaMusica.Models.Componentes>

@{
    ViewBag.Title = "Componentes";
}

<h2>Selección de componentes</h2>

<p>
    Filtro por Categoría
    @Html.DropDownList("Categorias", ViewBag.Categorias as SelectList, "Elige una categoría", new { idCat = "ID" })
</p>
<table id="datos" class="table">
    <thead>
    <tr id="cabecera">
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioBruto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IVA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioNeto)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    
    </tbody>
    

</table>

<p>@Html.ActionLink("Indice", "Index", "Home", null, new {@class = "btn btn-success"})</p>
<p>@Html.ActionLink("Ver Configuracion", "VerConfiguracion", "Componentes", null, new { @class = "btn btn-success" })</p>
<input type="button" class="btn btn-info" value="Ver carro" onclick="VerCarro()"/>

@section miJS
{
    <script>
        var listaComp = '@Html.Raw(Json.Encode(@Model))';
        var url = "@Url.Action("VerConfiguracion", "Componentes")";
    </script>
    <script src="~/Scripts/miJS.js"></script>
}