@model IEnumerable<ClienteTiendaMusica.Models.Componentes>
@{
    ViewBag.Title = "VerConfiguracion";
}

<h2>VerConfiguracion</h2>

<table id="carrito" class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioBruto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IVA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioNeto)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    </tbody>


</table>

@*@section miJS
{
    <script type="text/javascript">
        $(document).ready(function() {
            mostrarCarrito();
        });
    </script>
    <script src="~/Scripts/miJS.js"></script>
}*@