@model IEnumerable<ClienteTiendaMusica.Models.Categorias>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Añadir Categoría", "Alta")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @*@Html.ActionLink("Editar", "Edit", new { id=item.ID }) |*@
            @Html.ActionLink("Ver Componentes", "VerComp", new { id=item.ID }) |
            @*@Html.ActionLink("Eliminar", "Delete", new { id=item.ID })*@
        </td>
    </tr>
}

</table>
<p>@Html.ActionLink("Atrás", "Index", "Home", null, new { @class = "btn btn-success" })</p>